body{
  background-color:#272b2e;
  color: white;

}

/* Header Styling */
.header {
  color: white;
  text-align: center;
}

/*Popular Backdrop Stylings */
.display-img {

position: relative;
outline: none;


}
.droptext{
  position: absolute;
  bottom: 8%;
  width:100%;
  z-index: 2;
  color:#fff;
  text-align: center;
}



/*Movie and Tv Poster Stylings */
.rating {
  position: absolute;


}
.rating p {
  background-color: red;
  opacity: 0.8;
  padding-left: 2%;
  padding-right: 2%;
  width: 50px;
  text-align: center;
  margin-top: 10px;
}
.poster:hover {
  background-color: red;
  opacity: 0.7;
  cursor: pointer;
}
/* Trailer Stylings */

.description {
  padding-left: 15%;
  padding-right: 15%;
  margin-bottom: 100px;
}
.trailer {
  margin-bottom: 80px;
}
.trailer iframe{
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 500px;
  width: 50%;

}
/* Actor Poster Styling */
.character{
  font-weight: bold;
  margin-bottom: -5px
}


/*Button Stylings */
.backButton {
  position: absolute;
  margin-top: 25px;
  margin-left: 25px;
  cursor: pointer;
}
.searchBackButton {
  position: relative;
}
.movieButton {
  position: absolute;
  cursor: pointer;
  bottom: 20px;
  left: 20px;
  z-index: 10;
  background-color: red;
  color: black;
}






/* Carousel Stylings */
.carousel-padding{
  padding: 3% 3%;
}
.controls {
  color:black;
}
.carousel{
  margin-right: 10px;
}
.slick-next{ right: 20px;}
.titles-slider{
  margin-left: 30px;
}

  .carousel-item:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.25);
}

/* Other Css */
.logo {
  height: 40px;
}
.top {
  margin-bottom: 50px;
}
#bio{
  margin-bottom: 50px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
