h1 {
  color: red;
  text-align: center;
}
.titles-slider{
  margin-left: 30px;
}
.droptext{
  position: absolute;
  bottom: 8%;
  width:100%;
  z-index: 2;
  color:#fff;
  text-align: center;
}
.display-img {

position: relative;
outline: none;

}

.controls {
  color:black;
}
#profile {
  text-align: center;
}
